<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ronaldo Love</title>

    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <nav>
        <a href="/">HOME</a>
        <a href="/about-page">ABOUT</a>
        <a href="/works-page">WORKS</a>
    </nav>
    <h1>Ronaldo is the most beautiful men alive</h1>
    <img src="/images/Ronaldo1.jpg" alt="beautiful human missing">
    <img src="/images/Ronaldo2.jpg" alt="beautiful human missing">
    <img src="/images/Ronaldo3.jpg" alt="beautiful human missing">
    <img src="/images/Ronaldo4.jpg" alt="beautiful human missing">
</body>
</html>